:root{
    --Fuente: "Open Sans", sans-serif;/*TIPOGRAFIA*/
    --ColorPrimario: #04cbc2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Fuente);
}

header{
    width: 100%;
    background-color: transparent;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15%;
    box-shadow: 0 0 3px #0003;

    & p{
        font-size: 1.1rem;
        font-weight: 700;
        cursor: pointer;
    }

    & p::first-letter{
        font-size: 1.5rem;
        color: var(--ColorPrimario);
    }
}

main{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .info__container{
        width: 80%;
        margin-bottom: 5%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & h1{
            color: var(--ColorPrimario);
            font-size: 2.5rem;
        }

        & p{
            width: 90%;
        }
    }
}

#tipos-conversiones{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .conversiones__container{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;
        align-content: center;
        gap: 20px;

        & .conversion{
            width: 100%;
            min-height: 50px;
            padding: 2% 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            cursor: pointer;
            transition: box-shadow .1s ease;

            & a{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                text-decoration: none;
                color: #000;
            }
        }

        & .conversion:hover{
            box-shadow: 0 0 3px #ccc;

                & p{
                    border-bottom: 2px solid var(--ColorPrimario);
                }
            }
    }
}

footer{
    background-color: #eeeeee7b;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    position: absolute;
    bottom: 0;
}

/*DISEÑO PARA PANTALLAS MEDIANAS Y GRANDES*/
@media (min-width: 900px){
    .conversiones__container{
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;
    }
}